.top-heading{
font-family: var(--primary-font);
font-weight: 500;
font-size: 1.5rem;
text-transform: uppercase;
color: var(--primary-color);
line-height: 3rem;

}
.sub-heading{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    line-height: 4rem;
}
.main-content{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    color:rgba(203, 203, 203, 1);

}